<nav>
  <div class="nav-container">
    <div class="left-section">
      <div class="logo">
        <img src="/assets/img/common/logo.webp" alt="Markus Isaksson Logo">
      </div>
      <div class="language-icons">
        <button class="lang-icon" onclick="changeLanguage('sv')">
          <img src="/assets/img/lang/swedish_icon.png" alt="Svenska">
        </button>
        <button class="lang-icon" onclick="changeLanguage('en')">
          <img src="/assets/img/lang/english_icon.png" alt="English">
        </button>
      </div>
    </div>
    <ul class="menu">
      <li><a href="/sv/index.html">Om mig</a></li>
      <li><a href="/sv/certificates.html">Certifikat</a></li>
      <li><a href="/sv/fullstack.html">Pågående Full Stack-utbildning</a></li>
      <li><a href="#">För rekryterare</a></li>
      <li><a href="/sv/showcase.html">Projekt</a></li>
      <li><a href="/sv/ai_analysis.html" class="ai-analysis">AI-analys av mina meriter</a></li>
    </ul>
  </div>
</nav>
